body {
  background-color:rgb(216, 214, 214);  
}
.rounded-box {
  height: 150px;
  background-color:#c6deee;
  border-top-right-radius: 50px;
  text-align: center;
}
.biography {
  background-color: aqua;
  height: 70px;
  width: 100px;
  align-self: center;
}
#profilepic {
    width: 100%;
}
.lists, .lists ol, .lists li {
    text-align: center;
    list-style-position: inside;
}
hr {
  Color: black;
  Height: 4px;
  Border-color: black;
} 
title {
  text-align: center;
 } 

